/* Fonts */

@font-face {
  font-family: 'Gotham Pro';
  font-display: swap;
  src: url("../fonts/GothamPro/GothamPro-Bold.eot");
  src: local("../fonts/GothamPro/Gotham Pro Bold"), local("GothamPro-Bold"), url("../fonts/GothamPro/GothamPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamPro-Bold.woff") format("woff"), url("../fonts/GothamPro/GothamPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  font-display: swap;
  src: url("../fonts/GothamPro/GothamPro-Black.eot");
  src: local("../fonts/GothamPro/Gotham Pro Black"), local("GothamPro-Black"), url("../fonts/GothamPro/GothamPro-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamPro-Black.woff") format("woff"), url("../fonts/GothamPro/GothamPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  font-display: swap;
  src: url("../fonts/GothamPro/GothamPro-Medium.eot");
  src: local("../fonts/GothamPro/Gotham Pro Medium"), local("GothamPro-Medium"), url("../fonts/GothamPro/GothamPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamPro-Medium.woff") format("woff"), url("../fonts/GothamPro/GothamPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  font-display: swap;
  src: url("../fonts/GothamPro/GothamPro.eot");
  src: local("../fonts/GothamPro/Gotham Pro"), local("GothamPro"), url("../fonts/GothamPro/GothamPro.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamPro.woff") format("woff"), url("../fonts/GothamPro/GothamPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Variables */

:root {
  --color-blue: #4A72CE;
  --color-blue-opaciti-85: rgba(74, 114, 206, 0.85);
  --color-light-blue: #5FB2D6;
  --color-dark-blue: #43b1e0;
  --color-dark: #555555;
  --color-gray: #EFEFEF;
  --color-black: #000000;
  --color-blackish: #2d2d2d;
  --color-white: #FFFFFF;
  --color-dark-gray: #A9A9A9;
  --color-white-gray: #E5E5E5;
  --font-roboto: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-gotham: "GothamPro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Base */

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

/* Base Classes */

/* Containers */

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.container-full {
  padding-left: 30px;
  padding-right: 30px;
}

/* Hide */

.hide {
  display: none !important;
}

/* Position */

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

/* Background */

.bg_blue {
  background-color: var(--color-blue);
}

.bg_white {
  background-color: var(--color-white);
}

.bg_gray {
  background-color: var(--color-gray);
}

.bg_dark-gray {
  background-color: var(--color-dark-gray);
}

/* Title */

.title {
  font-family: var(--font-gotham);
  font-style: normal;
  margin: 0;
}

.title_big {
  font-size: 38px;
}

.title_medium {
  font-size: 24px;
}

.title_small {
  font-size: 20px;
}

.title_blue {
  color: var(--color-blue);
}

.title_white {
  color: var(--color-white);
}

.title_black {
  color: var(--color-black);
}

.title_blackish {
  color: var(--color-blackish);
}

.title_w-black {
  font-weight: 900;
}

.title_w-bold {
  font-weight: bold;
}

.title_w-medium {
  font-weight: 500;
}

.title_w-regular {
  font-weight: normal;
}

.title_uppercase {
  text-transform: uppercase;
}

.title-second {
  font-family: var(--font-roboto);
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 100%;
  color: var(--color-blue);
  margin: 0;
}

/* Text */

.text {
  font-family: var(--font-roboto);
  font-style: normal;
  margin: 0;
}

.text_dark {
  color: var(--color-dark);
}

.text_white {
  color: var(--color-white);
}

.text_white-gray {
  color: var(--color-white-gray);
}

.text_s-normal {
  font-size: 16px;
}

.text_s-small {
  font-size: 14px;
}

.text_w-light {
  font-weight: 300;
}

.text_w-regular {
  font-weight: 400;
}

.text_w-medium {
  font-weight: 500;
}

.text_w-bold {
  font-weight: 700;
}

.text_uppercase {
  text-transform: uppercase;
}

/* Blocks */

/* Page */

.page {
  position: relative;
  margin: 0;
  font-family: var(--font-roboto);
  font-size: 16px;
  line-height: 1.25;
  background-color: var(--color-white);
  overflow-x: hidden;
}

.page__container {
  max-width: 1920px;
  margin: 0 auto;
}

/* Button */

.button {
  display: inline-block;
  border-radius: 30px;
  font-family: var(--font-gotham);
  font-weight: bold;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  padding: 12px 25px;
  text-decoration: none;
  color: var(--color-white);
  border: none;
}

.button-primary {
  background: var(--color-light-blue);
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.button-primary:hover {
  background: var(--color-dark-blue);
  box-shadow: 0px 2px 50px #00D1FF;
}

/* Form */

.form-box {
  padding: 40px 0;
}

.form-box__title {
  margin-bottom: 30px;
}

.form-box__title_center {
  text-align: center;
}

.form-box__title_aside {
  text-align: left;
}

.form-box_aside {
  padding: 40px 70px;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  line-height: 1;
}

.form_aside {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: auto;
  -webkit-align-items: auto;
          align-items: auto;
}

.form__input ~ .form__input {
  margin-left: 15px;
}

.form__input[placeholder] {
  font-size: 14px;
}

.form__input {
  width: -webkit-calc(25% - 30px);
  width: calc(25% - 30px);
  font-family: var(--font-gotham);
  font-size: 16px;
  border: none;
  padding: 12px 25px;
  color: var(--color-dark);
  border-radius: 30px;
}

.form__input_aside {
  width: 100%;
  text-align: center;
}

.form__input_aside ~ .form__input_aside {
  margin: 30px 0 0 0;
}

.form__input_submit {
  cursor: pointer;
  color: var(--color-white);
}

.form .ajax-loader {
  display: none;
}

/* Topping */

.topping_bg_default {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center left;
}

.topping_bg_full {
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

.topping__body {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  min-height: 550px;
}

.topping__head {
  width: 60vw;
  padding: 20px;
  background-color: var(--color-blue-opaciti-85);
}

.topping__title {
  text-align: left;
}

.topping__subtitle {
  text-align: left;
  margin-top: 20px;
}

.topping__actions {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
          justify-content: start;
  margin-top: 20px;
}

/* l-description */

.l-description {
  padding: 30px 0;
}

.l-description__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;
      grid-template-areas: "left-column right-column";
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
          align-items: stretch;
}

.l-description__column:first-child {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: left-column;
}

.l-description__column:last-child {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: right-column;
}

.l-description__column_position_center {
  -webkit-align-self: center;
              -ms-grid-row-align: center;
          align-self: center;
}

.l-description__title {
  text-align: left;
  margin-bottom: 50px;
}

.l-description__title_center {
  text-align: center;
}

.l-description__text ~ .l-description__text {
  margin-top: 30px;
}

.l-description__img {
  height: auto;
}

/* Checklist */

.checklist {
  padding-left: 20px;
}

.checklist__item ~ .checklist__item {
  margin-top: 30px;
}

.checklist__item {
  position: relative;
  list-style-type: none;
  padding-left: 20px;
}

.checklist__item::before {
  position: absolute;
  top: 0;
  left: -20px;
}

.checklist__item_check_white::before {
  content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3QgeD0iMSIgeT0iMSIgd2lkdGg9IjE4IiBoZWlnaHQ9IjE4IiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjIiLz4KPGxpbmUgeTE9Ii0xIiB4Mj0iNi41ODM5MyIgeTI9Ii0xIiB0cmFuc2Zvcm09Im1hdHJpeCgwLjcxMDA4NCAwLjcwNDExNyAtMC43MTAwODQgMC43MDQxMTcgNC4zNjc5MiA5Ljk1MzY0KSIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLXdpZHRoPSIyIi8+CjxsaW5lIHkxPSItMSIgeDI9IjkuODc1ODkiIHkyPSItMSIgdHJhbnNmb3JtPSJtYXRyaXgoMC43MTAwODQgLTAuNzA0MTE3IDAuNzEwMDg0IDAuNzA0MTE3IDkuMDQyNzIgMTQuNTg5NikiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iMiIvPgo8L3N2Zz4K");
}

.checklist__item_check_blue::before {
  content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3QgeD0iMSIgeT0iMSIgd2lkdGg9IjE4IiBoZWlnaHQ9IjE4IiBzdHJva2U9IiM0QTcyQ0UiIHN0cm9rZS13aWR0aD0iMiIvPgo8bGluZSB5MT0iLTEiIHgyPSI2LjU4MzkzIiB5Mj0iLTEiIHRyYW5zZm9ybT0ibWF0cml4KDAuNzEwMDg0IDAuNzA0MTE3IC0wLjcxMDA4NCAwLjcwNDExNyA0LjM2NzkyIDkuOTUzNjEpIiBzdHJva2U9IiM0QTcyQ0UiIHN0cm9rZS13aWR0aD0iMiIvPgo8bGluZSB5MT0iLTEiIHgyPSI5Ljg3NTg5IiB5Mj0iLTEiIHRyYW5zZm9ybT0ibWF0cml4KDAuNzEwMDg0IC0wLjcwNDExNyAwLjcxMDA4NCAwLjcwNDExNyA5LjA0MjcyIDE0LjU4OTcpIiBzdHJva2U9IiM0QTcyQ0UiIHN0cm9rZS13aWR0aD0iMiIvPgo8L3N2Zz4K");
}

/* l-promo */

.l-promo {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
}

.l-promo__content-promo {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: -webkit-calc(50% - 30px);
  width: calc(50% - 30px);
}

.l-promo__aside-promo {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: -webkit-calc(41.66667% - 30px);
  width: calc(41.66667% - 30px);
}

/* Content-promo */

.content-promo__title {
  margin-bottom: 50px;
}

.content-promo__subtitle {
  margin-bottom: 40px;
}

.content-promo__descr ~ .content-promo__descr {
  margin: 30px 0;
}

.content-promo__checklist {
  margin-top: 30px;
}

/* Aside-promo */

.aside-promo__pic {
  margin-bottom: 30px;
}

.aside-promo__img {
  width: 100%;
  height: auto;
}

/* News */

.news {
  padding: 30px 0;
}

.news__heading {
  position: relative;
  display: inline-block;
  margin-bottom: 50px;
  padding-right: 65px;
}

.news__heading::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background: var(--color-blue);
  z-index: 1;
  margin-left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.news__grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  padding-bottom: 10px;
  overflow: hidden;
}

.news__column {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: -webkit-calc(33.33333% - 30px);
  width: calc(33.33333% - 30px);
  margin-bottom: 30px;
}

.news__actions {
  text-align: center;
  margin-top: 30px;
}

/* News-article */

.news-article {
  background-color: var(--color-white);
  box-shadow: 0 5px 20px rgba(34, 34, 34, 0.1);
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.news-article:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.news-article:hover .news-article__btn {
  opacity: 1;
}

.news-article:hover .news-article__img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.news-article__body {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  padding: 0px 30px 0px;
  margin-bottom: 25px;
}

.news-article__header {
  margin-bottom: 30px;
}

.news-article__picture {
  display: block;
  height: 200px;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.news-article__img {
  display: block;
  height: auto;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 200px;
  -webkit-transition: -webkit-filter .5s ease 0s;
  transition: -webkit-filter .5s ease 0s;
  transition: filter .5s ease 0s;
  transition: filter .5s ease 0s, -webkit-filter .5s ease 0s;
}

.news-article__link {
  text-decoration: none;
}

.news-article__more {
  display: inline-block;
  text-align: center;
  margin-top: -55px;
  margin-bottom: 10px;
}

.news-article__btn {
  position: relative;
  display: inline-block;
  padding: 12px;
  border-radius: 50%;
  background-color: var(--color-blue);
  z-index: 10;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  opacity: 0;
}

.news-article__svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
  fill: var(--color-white);
}

.news-article__category {
  -webkit-align-self: start;
              -ms-grid-row-align: start;
          align-self: start;
  text-decoration: none;
  margin-bottom: 10px;
  -webkit-transition: color .3s ease-in;
  transition: color .3s ease-in;
}

.news-article__category:hover {
  color: var(--color-blue);
}

.news-article__title {
  -webkit-transition: color .3s ease-in;
  transition: color .3s ease-in;
}

.news-article__title:hover {
  color: var(--color-blue);
}

.news-article__footer {
  padding: 0px 30px 25px;
}

.news-article__date {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}

.news-article__date::before {
  content: '';
  display: inline-block;
  background-image: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjUxMnB0IiB2aWV3Qm94PSIwIDAgNTEyIDUxMiIgd2lkdGg9IjUxMnB0IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Im0yNTYgMGMtMTQxLjE2NDA2MiAwLTI1NiAxMTQuODM1OTM4LTI1NiAyNTZzMTE0LjgzNTkzOCAyNTYgMjU2IDI1NiAyNTYtMTE0LjgzNTkzOCAyNTYtMjU2LTExNC44MzU5MzgtMjU2LTI1Ni0yNTZ6bTAgMCIgZmlsbD0iIzIxOTZmMyIvPjxwYXRoIGQ9Im0zNzcuNzUgMzg4LjQxNDA2MmMtNC4xNjAxNTYgNC4xNjAxNTctOS42MjEwOTQgNi4yNTM5MDctMTUuMDgyMDMxIDYuMjUzOTA3LTUuNDYwOTM4IDAtMTAuOTI1NzgxLTIuMDkzNzUtMTUuMDgyMDMxLTYuMjUzOTA3bC0xMDYuNjY3OTY5LTEwNi42NjQwNjJjLTQuMDExNzE5LTMuOTg4MjgxLTYuMjUtOS40MTAxNTYtNi4yNS0xNS4wODIwMzF2LTEzOC42Njc5NjljMC0xMS43OTY4NzUgOS41NTQ2ODctMjEuMzMyMDMxIDIxLjMzMjAzMS0yMS4zMzIwMzFzMjEuMzMyMDMxIDkuNTM1MTU2IDIxLjMzMjAzMSAyMS4zMzIwMzF2MTI5LjgzNTkzOGwxMDAuNDE3OTY5IDEwMC40MTQwNjJjOC4zMzk4NDQgOC4zNDM3NSA4LjMzOTg0NCAyMS44MjQyMTkgMCAzMC4xNjQwNjJ6bTAgMCIgZmlsbD0iI2ZmZiIvPjwvc3ZnPg==");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 15px;
  height: 15px;
  margin-top: 1px;
  margin-right: 5px;
}

/* ANOTHER MODULES */

/* ANOTHER MODULES */

/* ANOTHER MODULES */

/* Glide.js Slider */

.glide {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.glide * {
  box-sizing: inherit;
}

.glide__track {
  overflow: hidden;
}

.glide__slides {
  position: relative;
  width: 100%;
  list-style: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  touch-action: pan-Y;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
          flex-wrap: nowrap;
  will-change: transform;
}

.glide__slides--dragging {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.glide__slide {
  width: 100%;
  height: 100%;
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  white-space: normal;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

.glide__slide a {
  -webkit-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.glide__arrows {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.glide__bullets {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.glide--rtl {
  direction: rtl;
}

.glide__bullets {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 100;
}

.glide__bullet {
  width: 25px;
  height: 8px;
  display: inline-block;
  font-size: unset;
  line-height: unset;
  padding: unset;
  border-radius: 50px;
  background: #1273eb;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  border: none;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.25);
  opacity: .5;
  margin: 0 5px;
  outline: none;
  cursor: pointer;
}

.glide__bullet--active {
  width: 40px;
  background: var(--color-blue);
  opacity: 1;
}

/* ANOTHER MODULES */

/* ANOTHER MODULES */

/* ANOTHER MODULES */

/* MEDIA QUERIES */

@media screen and (max-width: 1024px) {
  .hide-xls {
    display: none !important;
  }

  .title_big {
    font-size: 28px;
  }

  .news__column {
    width: -webkit-calc(50% - 30px);
    width: calc(50% - 30px);
  }

  .news-article__title {
    font-size: 18px;
  }
}

@media screen and (max-width: 992px) {
  .hide-lg {
    display: none !important;
  }

  .form-box_aside {
    padding: 30px;
  }

  .topping__body {
    min-height: 350px;
  }

  .topping__head {
    width: 100vw;
  }

  .l-description__grid {
    grid-column-gap: 10px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .container-full {
    padding-left: 10px;
    padding-right: 10px;
  }

  .hide-md {
    display: none !important;
  }

  .form-box__title_aside {
    text-align: center;
  }

  .form-box_aside {
    padding: 30px 10px;
  }

  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .form__input ~ .form__input {
    margin: 30px 0 0 0;
  }

  .form__input {
    width: -webkit-calc(66.66667% - 20px);
    width: calc(66.66667% - 20px);
  }

  .form__input {
    text-align: center;
  }

  .topping_bg_default {
    background-position: center;
  }

  .topping__head {
    padding: 10px;
  }

  .l-description__title {
    margin-bottom: 30px;
  }

  .l-promo {
    margin-left: -10px;
    margin-right: -10px;
  }

  .l-promo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .l-promo__content-promo {
    margin-left: 10px;
    margin-right: 10px;
  }

  .l-promo__content-promo {
    width: -webkit-calc(100% - 20px);
    width: calc(100% - 20px);
  }

  .l-promo__content-promo {
    margin-bottom: 30px;
  }

  .l-promo__aside-promo {
    margin-left: 10px;
    margin-right: 10px;
  }

  .l-promo__aside-promo {
    width: -webkit-calc(100% - 20px);
    width: calc(100% - 20px);
  }

  .content-promo__title {
    margin-bottom: 40px;
  }

  .content-promo__subtitle {
    margin-bottom: 30px;
  }

  .content-promo__descr ~ .content-promo__descr {
    margin: 25px 0;
  }

  .news__grid {
    margin-left: -10px;
    margin-right: -10px;
  }

  .news__column {
    margin-left: 10px;
    margin-right: 10px;
  }

  .news__column {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
            flex: 1 0 auto;
  }
}

@media screen and (max-width: 576px) {
  .container {
    padding-left: 5px;
    padding-right: 5px;
  }

  .container-full {
    padding-left: 5px;
    padding-right: 5px;
  }

  .hide-sm {
    display: none !important;
  }

  .title_big {
    font-size: 20px;
  }

  .form__input {
    width: -webkit-calc(100% - 10px);
    width: calc(100% - 10px);
  }

  .topping_bg_default {
    background-size: cover;
  }

  .topping__body {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
            align-items: flex-end;
  }

  .topping__actions {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
  }

  .l-description__grid {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: auto 30px auto;
        grid-template-areas: "left-column" "right-column";
    grid-row-gap: 30px;
  }

  .l-description__grid_revers {
        grid-template-areas: "right-column" "left-column";
  }

  .l-promo {
    margin-left: -5px;
    margin-right: -5px;
  }

  .l-promo__content-promo {
    margin-left: 5px;
    margin-right: 5px;
  }

  .l-promo__aside-promo {
    margin-left: 5px;
    margin-right: 5px;
  }

  .news__heading {
    padding-right: 50px;
  }

  .news__heading::before {
    width: 25px;
  }

  .news__grid {
    margin-left: -5px;
    margin-right: -5px;
  }

  .news__column {
    margin-left: 5px;
    margin-right: 5px;
  }

  .news__column {
    width: -webkit-calc(100% - 10px);
    width: calc(100% - 10px);
  }

  .news-article__body {
    padding: 0px 20px 0;
  }

  .news-article__footer {
    padding: 0px 20px 25px;
  }

  .glide__bullets {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
  }

  .l-description__column:first-child {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .l-description__grid_revers > .l-description__column:first-child {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .l-description__column:last-child {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .l-description__grid_revers > .l-description__column:last-child {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
}

@media screen and (max-width: 400px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .container-full {
    padding-left: 10px;
    padding-right: 10px;
  }

  .hide-xs {
    display: none !important;
  }

  .l-promo {
    margin-left: -5px;
    margin-right: -5px;
  }

  .l-promo__content-promo {
    margin-left: 5px;
    margin-right: 5px;
  }

  .l-promo__aside-promo {
    margin-left: 5px;
    margin-right: 5px;
  }

  .news__heading {
    padding-right: 0;
  }

  .news__heading::before {
    display: none;
  }

  .news__grid {
    margin-left: -5px;
    margin-right: -5px;
  }

  .news__column {
    margin-left: 5px;
    margin-right: 5px;
  }

  .news__column {
    width: -webkit-calc(100% - 10px);
    width: calc(100% - 10px);
  }
}