.button {
    position: relative;
    display: inline-block;
    font-family: var(--font-gotham);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 15px;
    text-decoration: none;
    text-align: center;
    padding: 13px 53px;
    z-index: 10;
    background: transparent;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: skew(-30deg);
        z-index: -1;
        transition: linear .3s;
    }
    &_white {
        color: var(--color-primary);
        &::before {
            background: var(--color-white);
        }
        &:hover {
            &::before {
                box-shadow: 0px 4px 25px var(--color-white);
            }
        }
    }
    &_primary {
        color: var(--color-white);
        &::before {
            background: var(--color-primary);
        }
        &:hover {
            &::before {
                box-shadow: 0px 4px 25px var(--color-primary);
            }
        }
    }
}