.slider {
    padding: 30px 0;
    &__content {
        display: block;
		margin-bottom: 25px;
		height: auto;
		border-radius: 8px;
		padding: 0 30px;
    }
    &__picture {
		display: inline-block;
    }
    &__picture, &__img {
        width: 100%;
        height: 100%;
        max-width: 100%;
		max-height: 100%;
		border-radius: 8px;
        object-fit: cover;
	}
	&__arrow {
		display: block;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 1;
		width: 40px;
		height: 40px;
		background-color: transparent;
		background-color:  rgba(0,0,0,.6);
		transition: all .2s ease-in-out;
		box-shadow: 0 0.5rem 4rem 0 rgba(0,0,0,.5);
		cursor: pointer;
		padding: 0;
		border-top: 1px solid var(--color-white);
		border-bottom: 1px solid var(--color-white);
		outline: 0;
		&--prev {
			left: 30px;
			border-right: 1px solid var(--color-white);
		}
		&--next {
			right: 30px;
			border-left: 1px solid var(--color-white);
		}
	}   
	&__arrow-svg {
		fill: var(--color-white);
	}
}