.l-promo {
	@include row-flex();
	@include md-block {
		flex-direction: column;
		align-items: center;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	justify-content: space-between;
	padding-top: 50px;
	padding-bottom: 50px;
	&__content-promo {
		@include col();
		@include size(6);
		@include size-md(12);
		@include md(margin-bottom, 30px)
	}
	&__aside-promo {
		@include col();
		@include size(5);
		@include size-md(12);
	}
}